@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/Inter-Regular.woff2) format('woff2');
}

:root {
  --inter-font: 'Inter', sans-serif;
}